header{
    background-image: url(../multimedia/37-Instituto-x-Colon-13052023-800x533.jpg);
    font-size: 20px;
    width: 99vw;
    h1{
    color: rgba(0, 0, 0, 0.877);
    font-size: 60px;
    }        
    .logo-iacc{
    margin-left: 750px;
    }
    .imd{
    margin-left: 450px;
    }
}